@model MvcStok.Models.entity.TBLkategori
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    @*<div>
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="KATEGORIAD" />
    </div>*@
    <div>
        <label>Kategori Adı</label>
        @Html.TextBoxFor(m=>m.KATEGORIAD,new { @class="form-class"})
        @Html.ValidationMessageFor(m=>m.KATEGORIAD,"",new {@style="color:purple"})
    </div>
    <div style="margin-top:25px">
        <button class="btn btn-info">Kategori Ekle</button>
    </div>
</form>

